<!-- navbar-->
<header class="header sticky">
    <!-- Primary Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light py-4 border-bottom border-gray bg-white">
        <div class="container d-flex align-items-center justify-content-beween"><a class="navbar-brand"
                href="/">Psyhology4Life
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <ul class="list-inline mb-0 d-none d-lg-block">
                <li class="list-inline-item mr-3">
                    <div class="d-flex"><i class="fas fa-paper-plane"></i>
                        <div class="ml-2">
                            <h6 class="text-muted text-uppercase mb-0 text-small">Задать вопрос или записаться</h6>
                            <p class="small text-gray mb-0">Telegram <a href="tel:+ 0000 0000 0000">+ 0000 0000 0000</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="d-flex"><i class=""></i>
                        <div class="ml-2">
                            <h6 class="text-muted text-uppercase mb-0 text-small"></h6>
                            <p class="small text-gray mb-0"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Secondary Navbar                -->
    <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
        <div class="container">
            <div class="collapse navbar-collapse  py-3 py-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item pr-5"><a class="nav-link" (click)="scroll(0,100)">Главная <span
                                class="sr-only">(current)</span></a></li>
                    <li class="nav-item pr-5"><a class="nav-link" (click)="scroll(0,500)">Обо мне </a></li>

                    <li class="nav-item pr-5"><a class="nav-link" (click)="form()">Онлайн запись </a></li>
                    <li class="nav-item pr-5"><a class="nav-link" (click)="scroll(0,1700)">Услуги </a></li>
                    <li class="nav-item pr-5"><a class="nav-link" (click)="scroll(0,2300)">Отзывы </a></li>
                    <li class="nav-item pr-5"><a class="nav-link" (click)="scroll(0,100)">Вебинары и статьи </a></li>
                    <li class="nav-item pr-5"><a class="nav-link" (click)="scroll(0,5000)">Контакты </a></li>

                </ul>
                <!--                <ul class="navbar-nav ml-auto">-->
                <!--                    <li class="nav-item"><a class="nav-link px-4 d-inline-block" id="searchToggler" href="#"><i-->
                <!--                                class="fas fa-search text-muted"></i><i class="fas fa-times text-muted d-none"></i></a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item"><a class="nav-link border-left px-4 bg-primary text-white d-inline-block"-->
                <!--                            href="#">Make an Appointment</a></li>-->
                <!--                </ul>-->
            </div>
        </div>
    </nav>
</header>